USE [master]
GO
/****** Object:  Database [estetica_db]    Script Date: 16/02/2019 12:28:18 ******/
CREATE DATABASE [estetica_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'estetica_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\estetica_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'estetica_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\estetica_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [estetica_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [estetica_db]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 16/02/2019 12:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMASDEPAGO]    Script Date: 16/02/2019 12:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMASDEPAGO](
	[IDPAGO] [int] NOT NULL,
	[NOMBREPAGO] [varchar](50) NULL,
 CONSTRAINT [PK_FORMASDEPAGO] PRIMARY KEY CLUSTERED 
(
	[IDPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEAS_TICKET_VENTA_SERVICIO]    Script Date: 16/02/2019 12:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEAS_TICKET_VENTA_SERVICIO](
	[TICKET] [int] NOT NULL,
	[LINEA] [int] NOT NULL,
	[PRECIO] [money] NULL,
	[CANTIDAD] [int] NULL,
	[SUBTOTAL] [money] NULL,
	[SERVICIO] [int] NOT NULL,
 CONSTRAINT [PK_LINEAS_TICKET_VENTA_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[TICKET] ASC,
	[LINEA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 16/02/2019 12:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[IDSERVICIO] [int] NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[NOMBRE] [varchar](50) NULL,
	[TIPOSERVICIO] [int] NULL,
	[PRECIO] [money] NULL,
 CONSTRAINT [PK_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[IDSERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET_VENTA_SERVICIO]    Script Date: 16/02/2019 12:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_VENTA_SERVICIO](
	[NUMERO_TICKET] [int] NOT NULL,
	[CLIENTE] [int] NULL,
	[TOTAL] [money] NULL,
	[TOTAL_IVA] [money] NULL,
	[TOTAL_SIN_IVA] [money] NULL,
	[LINEAS] [int] NULL,
	[PAGO] [int] NULL,
	[FECHA] [date] NULL,
 CONSTRAINT [PK_TICKET_VENTA_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[NUMERO_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOSERVICIO]    Script Date: 16/02/2019 12:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOSERVICIO](
	[ID_TIPO] [int] NOT NULL,
	[NOMBRETIPO] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOSERVICIO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LINEAS_TICKET_VENTA_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAS_TICKET_VENTA_SERVICIO_SERVICIOS] FOREIGN KEY([SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([IDSERVICIO])
GO
ALTER TABLE [dbo].[LINEAS_TICKET_VENTA_SERVICIO] CHECK CONSTRAINT [FK_LINEAS_TICKET_VENTA_SERVICIO_SERVICIOS]
GO
ALTER TABLE [dbo].[LINEAS_TICKET_VENTA_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAS_TICKET_VENTA_SERVICIO_TICKET_VENTA_SERVICIO] FOREIGN KEY([TICKET])
REFERENCES [dbo].[TICKET_VENTA_SERVICIO] ([NUMERO_TICKET])
GO
ALTER TABLE [dbo].[LINEAS_TICKET_VENTA_SERVICIO] CHECK CONSTRAINT [FK_LINEAS_TICKET_VENTA_SERVICIO_TICKET_VENTA_SERVICIO]
GO
ALTER TABLE [dbo].[SERVICIOS]  WITH CHECK ADD  CONSTRAINT [FK_SERVICIOS_TIPOSERVICIO] FOREIGN KEY([TIPOSERVICIO])
REFERENCES [dbo].[TIPOSERVICIO] ([ID_TIPO])
GO
ALTER TABLE [dbo].[SERVICIOS] CHECK CONSTRAINT [FK_SERVICIOS_TIPOSERVICIO]
GO
ALTER TABLE [dbo].[TICKET_VENTA_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_VENTA_SERVICIO_CLIENTES] FOREIGN KEY([CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TICKET_VENTA_SERVICIO] CHECK CONSTRAINT [FK_TICKET_VENTA_SERVICIO_CLIENTES]
GO
ALTER TABLE [dbo].[TICKET_VENTA_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_VENTA_SERVICIO_FORMASDEPAGO] FOREIGN KEY([PAGO])
REFERENCES [dbo].[FORMASDEPAGO] ([IDPAGO])
GO
ALTER TABLE [dbo].[TICKET_VENTA_SERVICIO] CHECK CONSTRAINT [FK_TICKET_VENTA_SERVICIO_FORMASDEPAGO]
GO
USE [master]
GO
